name: Test and Build

on:
  pull_request:
    branches:
      - main
jobs:
  test:
    name: Run all tests
    runs-on: ubuntu-latest
    container: oven/bun:1.3.5
    steps:
      - uses: actions/checkout@v4
      - run: bun install --frozen-lockfile
      - run: bun run test
      - run: bun run build
